@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


   
    <body>

      
        <div class="w3-content">

            <div class="w3-row w3-margin">

                <div class="w3-third">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE-DKQbhlvUJfljYkiSUpxvDPClhBiThpwIA&usqp=CAU" style="width:100%;min-height:200px">
                </div>
                <div class="w3-twothird w3-container">
                    <h2>Peugeot 508</h2>
                    <p>
                    - 6 Airbags (frontaux / latéraux / rideaux)
                    - Frein de stationnement électrique avec assistant de démarrage en pente
                    - Jantes alliage 16''
                    - Volant cuir fleur
                    - Ecran tactile capacitif 10'' HD

                </p>
                </div>
            </div>


            <div class="w3-row w3-margin">

                <div class="w3-third">
                <img src="https://cdn.wheel-size.com/automobile/body/peugeot-208-2019-2023-1653489898.186481.jpg" style="width:100%;min-height:200px">
                </div>
                <div class="w3-twothird w3-container">
                    <h2>Peugeot 208</h2>
                    <p>
                    -la citadine par la marque au lion se pare de lignes sportives
                    -Trois moteurs à essence et un diesel
                    -Pack Safety
                    -volant multimédia
                </p>
                </div>

            </div>



            <div class="w3-row w3-margin">

                <div class="w3-third">
                <img src="https://www.carscoops.com/wp-content/uploads/2022/05/Carscoops-Peugeot-3008-III-Rendering-main.jpg" style="width:100%;min-height:200px">
                </div>
                <div class="w3-twothird w3-container">
                    <h2>Peugeot 3008</h2>
                    <p>
                    trois niveaux de finition principaux (Active Allure et GT) sont complétés par des déclinaisons Active Pack, Allure Pack et GT Pack
                </p>
                </div>

            </div>



            <div class="w3-row w3-margin">

                <div class="w3-third">
                    <img src="https://images.pexels.com/photos/13302206/pexels-photo-13302206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width:100%;min-height:200px">
                </div>
                <div class="w3-twothird w3-container">
                    <h2>Bmw M2</h2>
                    <p>
                    -Vitesse maxi : 250 km/h
                    -Nombre de rapports : 8
                    -Catégorie : Coupé
                    -Nombre de portes : 2
                    -Boite de vitesses : Automatique
                    -Aide au freinage d'urgence
                </p>
                </div>

            </div>



            <div class="w3-row w3-margin">

                <div class="w3-third">
                    <img src="https://images.pexels.com/photos/12604826/pexels-photo-12604826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width:100%;min-height:200px">
                </div>
                <div class="w3-twothird w3-container">
                    <h2>Bmw Serie 5</h2>
                    <p>    
                    Les indications concernant la consommation de carburant et d'énergie électrique ainsi que les émissions de CO2 ont été déterminées selon la méthode de mesure réglementairement prescrite VO (EU) 715/2007 dans sa version en vigueur. Les valeurs indiquées s'appliquent à un véhicule en équipement de base en Belgique et au Luxembourg, les écarts tiennent compte des différences dans les dimensions des jantes et des pneus choisis et de l’équipement en option sélectionné.
                </p>
                </div>

            </div>



            <div class="w3-row w3-margin">

                <div class="w3-third">
                <img src="https://www.moteur.ma/media/photos/neufs/resized/moteur.ma-hyundai-santafe-648924_.jpeg" style="width:100%;min-height:200px">
                </div>
                <div class="w3-twothird w3-container">
                    <h2>Hyundai Santafe</h2>
                    <p>
                    Moteur 4 cylindres Theta II GDI turbocompressé de 2,0 L
                    Boite automatique à 8 rapports avec mode manuel SHIFTRONICR
                    Utilitaire Sportif
                </p>
                </div>
             </div>



               <div class="w3-row w3-margin">

                    <div class="w3-third">
                        <img src="https://images.pexels.com/photos/11384815/pexels-photo-11384815.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width:100%;min-height:200px">
                    </div>
                    <div class="w3-twothird w3-container">
                        <h2>Renault Megane</h2>
                        <p>
                    Renault présente le configurateur, qui permet aux éventuels acheteurs de personnaliser leur véhicule.
                    -la toute option 
                </p>
                    </div>
                </div>



                  <div class="w3-row w3-margin">

                        <div class="w3-third">
                <img src="https://hips.hearstapps.com/hmg-prod/images/2019-audi-q8-361-1544802623.jpg?crop=0.744xw:0.558xh;0.256xw,0.380xh&resize=1200:*" style="width:100%;min-height:200px">
                        </div>
                        <div class="w3-twothird w3-container">
                            <h2>Audi Q8</h2>
                            <p>
                             Le premier grand SUV Coupé Audi voit grand : calandre Singleframe imposante, ailes élargies, jantes de 22’’… sans oublier son arsenal technologique de pointe
                             </p>
                        </div>

                   </div>


                        <div class="w3-row w3-margin">

                            <div class="w3-third">
                                <img src="https://images.pexels.com/photos/112460/pexels-photo-112460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width:100%;min-height:200px">
                            </div>
                            <div class="w3-twothird w3-container">
                                <h2>Mercedes AMG CLA</h2>
                                <p>
                    Berline sportive compacte Coupé et Shooting-Brake 4/5 portes - Basé sur la Classe A Type 177 - Possède 5 motorisations différentes en essence.
                    Deuxième génération de la CLA AMG - Elle succède à la type 117.
                </p>
                            </div>
                          </div>


                            <div class="w3-row w3-margin">

                                <div class="w3-third">
                                    <img src="https://images.pexels.com/photos/193995/pexels-photo-193995.jpeg" style="width:100%;min-height:200px">
                                </div>
                                <div class="w3-twothird w3-container">
                                    <h2>Mercedes AMG coupe cabriole C</h2>
                                    <p>
                                    Coupé/Cabriolet sportif familiale 2 portes - Basé sur la Classe C Type 205 - Disposent des mêmes motorisations que les versions Berline et Break.
                                    Troisième génération du coupé AMG, première du cabriolet AMG de la Classe C - Succède aux AMG Types 204.                                    </p>
                                </div>

                             </div>

            </div>

    
   
    </body>

